html {
    scroll-behavior: smooth;
    font-size: min(2.5vh, 4.5vw);
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    color: white;
}
::-moz-selection {
    /* Code for Firefox */
    background: #0075FF;
}
::selection {
    background: #0075FF;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    font-style: italic;
}

h2 {
    font-size: 1.4em;
    margin: 0;
    font-style: italic;
}

h3 {
    margin: 0;
    font-style: italic;
}

h4 {
    margin: 0;
    font-style: italic;
}

h5 {
    margin: 0;
    font-style: italic;
    font-weight: normal;
}

button {
    border: none;
    background-color: Transparent;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-family: inherit;
}

:focus-visible {
    outline: auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
